sudo: false

matrix:
  allow_failures:
    - python: nightly

  include:
    - os: linux
      python: 3.6.1
      env: PYVER=3.6

    - os: linux
      python: 3.6.2
      env: PYVER=3.6

    - os: linux
      python: 3.6.3
      env: PYVER=3.6

    - os: linux
      python: 3.6.4
      env: PYVER=3.6

    - os: linux
      python: 3.6.5
      env: PYVER=3.6 DEPLOY_PYPI=1

    - os: linux
      python: 3.6
      env: PYVER=3.6

    - os: linux
      python: nightly
      env: PYVER=3.7

language: python

install:
  - pip install -U pip setuptools
  - pip install .[test]

  - pip install -U coveralls

# commands to run tests
script:
  - mypy --python-version $PYVER --strict --ignore-missing-imports --show-error-context --show-traceback -p hiyori
  - flake8 .
  - coverage run --source=hiyori setup.py test

after_success:
  - coveralls

deploy:
  - provider: pypi
    distributions: sdist bdist_wheel
    server: https://test.pypi.org/legacy/
    user: "futursolo"
    password:
      secure: "vj6RA/h6ryp5HrPeA480NfOTwrfscyjs012/bWlntpwkLSgaIptmjJpAANpXJUOjiUMcxnY4LSFXbTneST3tlicnjb1xTjJTEr/FxtL5HSjW3fRATKIw44yVLJL/P+n4Sx01VMhymJDNHGnum106EenqOKcHakjgYFHbeE7gzZ+52xG58LwSIg4pSDNpzL6ulZqpkG9YzCy56rVtDRjTifageb0wZfjZMWf0Hhht+8jP6E7apWg57O6GudtY5oJ3nQJRq5zfWrE7Jpeyq6CpiZogzsiTSG/m+/AnfNOkvYbKsW4HUQ0CMQnECm/WWKkZ9ZG/mbvEQ1ym/e0FlmGmUl2c5mVibmycaHN6fP/w+YnVfmJUu0BHvmXbrAXLDKpbb/kg23cfpCLCXlDiwmgYiwqFYXg6Q23UzFh1HzOLuoxBqNyJIuwPl13mQnz8Br6DHibYZHqLSXHhhB9i6ycsl8bwdqGuh0lgRBYVCzazW4dqlwizuE/mxkEnSqbc0mHUzGO+OGXEoRZiYgTVh3OHm9rhu5hevQdCoE8WIu2YP5qCFYeb88xxoe+HLCevhdtRyMP/veNfdTfQJLE3t8rRovyVsdmmd02RtIjSwhmOKvPYA+6K+hbJY/4ll0+NHDL5QOGJJciVK8N+PaPph9eAVhJOTzZmKB5ekhgL9atrouk="
    skip_cleanup: true
    skip_upload_docs: true
    on:
      branch: master
      tags: false
      condition: "$DEPLOY_PYPI = 1"

  - provider: pypi
    distributions: sdist bdist_wheel
    user: "futursolo"
    password:
      secure: "Lw52wql2YZWjE3UZrzov6yC6AvU/VJCXEjG40bCnrfWf9NSg9JnrTrjNLlg7m4kDaZ8Vq/GDTDcYqsF4s5roMcPYWtVz+NGMupN5o6Z4hcFXSCasQJPbOk4hwKB7DsbSE/4bSB5VK8kgCAmF0URQC8dHLf8xPuN72SXieIN9/giXBUfgV9xJIshyac/zAoEsLoN29OPOMLXP/SZZeZNFrF9UpER+83oODRT7Wt6HfKmae2sCrUZrJHFu6TyZ6h9pksSk5nn4nv6T+G1XMiW7rBMWpMy5FeK6UZillT8/lGv36GyHEXZjM9NKifkMO+z7oA0f/x0vYWLtqF/YbZStNrpVKCQeOR8I2bv4E78/SAW/I8jyA90mX3Y2naJw0Weg/dVSHchnh4W5iIz7t5n62p1lraPjRbY9DTaVklpxiIqD8yEzQaYHe7As80cG9p7DP1n5+TAMaMzVRlVaMUepAHr49BrdRpXRejembeYkDdX+6RrytrxhC3S2/d7LiLwOZwiCI2w+UGlkYZfvc/b8Ge/JvcL6gFXwDRILM2n4AnwF5cKY3xh7WUqvVZuBm7Oqy7g1mFDBe4F8z5grj7nzcHX3xpV+QdinHl2GNOc5BV4h6zj5xbfmf2d1ndkH8gADDNrgxmmJpqjtR8eWcRyV9OLOpXqTUo9uVfsZnh5XygM="
    skip_cleanup: true
    skip_upload_docs: true
    on:
      branch: master
      tags: true
      condition: "$DEPLOY_PYPI = 1"
